@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    width: 400px;
}


.container{
    max-width: 900px;
    
}

.container_1{
    max-width: 900px;
}

#imagen-principal{
    width: 400px;

}

#servicio{
    width: 500px;
}

#logomag{
    width: 40px;
}

.register{
    justify-content: center;
    justify-items: center;
}
.underline{
    text-underline-offset: none;
}

